@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.5em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

.color1 {
  margin: 50px 300px 50px 0px;
}

.color1,
.color2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 90px;
  height: 90px;
  border: none;
}

.color1::-webkit-color-swatch,
.color2::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}
